<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <link rel="stylesheet" href="/static/css/visual.css" />
</head>
<body>

<div id="root"></div>
<script src="http://zeptojs.com/zepto.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/visual.js"></script>

</body>
</html>
